<!DOCTYPE html>
  <html>
    <head>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

    </head>

    <body>


      <!-- MOBILE COLLAPSE -->
        <nav "light-red lighten-1" role="navigation">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">More Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="catalog.html">Recipes</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="catalog.html">Recipes</a></li>
              <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </div>
        </nav>


        <div class="container"><!-- ./container begins -->

        <br><br>


        
          <div class="input-field">
            <input id="search" type="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>

          <a href="review.html" class="btn-flat waves-effect waves-light blue-grey center"><span class="white-text">search</span></a>

          
      <h1>Recipe Catalog</h1>
        <!-- COLLECTION/LIST -->
    <div class="divider"></div>
      <div class="section">
        <h5>African Dishes 1</h5>
        <div class="row">
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>

          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>


          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>
        </div>
      </div>

       


        <div class="divider"></div>
      <div class="section">
        <h5>African Dishes 1</h5>
        <div class="row">
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>

          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>


          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>
        </div>
      </div>


        <div class="divider"></div>
      <div class="section">
        <h5>African Dishes 1</h5>
        <div class="row">
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>

          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>


          
          <div class="col s2 m4">
                  <div class="card">
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class=" card center">
            <p>African Delicacies that will make your mouth water</p>        
            <!--<a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>-->
          </div>
        </div>
        </div>
      </div>


       

        <div class="row center">
        <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>


      <div class="container">
          <h1>Favorites</h1>

        <div class="divider"></div>
      <div class="section">
        <div class="row center">
          <div class="col s2 m4">
                        <div class="icon-block">
                      <h2 class="center light-blue-text"></h2>
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class="center">
            <p>Afrcan Delicacies that will make your mouth water</p>        
            <a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>
          </div>
        </div>

          
          <div class="col s2 m4">
                                <div class="icon-block">
                      <h2 class="center light-blue-text"></h2>
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class="center">
            <p>Afrcan Delicacies that will make your mouth water</p>        
            <a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>
          </div>
          </div>


          
          <div class="col s2 m4">
                                <div class="icon-block">
                      <h2 class="center light-blue-text"></h2>
                      <a href="review.html"><img src="img/1.jpg" alt="" class="responsive-img" alt=""></a>
                  </div>
          <div class="center">
            <p>Afrcan Delicacies that will make your mouth water</p>        
            <a href="" class="btn-floating red btn-tiny"><i class="large material-icons">favorite</i></a>
          </div>
          </div>
        </div>
      </div>

    </div>

        <!-- FIXED ACTION BUTTON -->
        <div class="fixed-action-btn">
            <a href="#" class="btn-floating red btn-large"><i class="large material-icons">mode_edit</i></a>
            <ul>
              <li><a href="review.html" class="btn-floating yellow btn-large"><i class="large material-icons">details</i></a></li>
              <li><a href="fav.html" class="btn-floating blue btn-large"><i class="large material-icons">favorite</i></a></li>
              <li><a href="crud.html" class="btn-floating green btn-large"><i class="large material-icons">publish</i></a></li>
              <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
            </ul>
        </div>

        <div class="row center">
        <ul class="pagination">
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>


      

      </div><!-- ./container ends -->

      
     <!-- <div style="height:500px"></div>-->
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <script>$('.button-collapse').sideNav();</script>


      <footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">More Recipes</h5>
          <p class="grey-text text-lighten-4">We are a team of chefs working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com"><p> 
    Copyright &copy; 2017 Pascal Ulor. Do not copy or try to reproduce
    </p></a>
      </div>
    </div>
  </footer>

    </body>
  </html>
