<!DOCTYPE html>
  <html>
    <head>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    </head>

    <body>

      <div class="container"><!-- ./container begins -->

        <!-- MOBILE COLLAPSE -->
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">More Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="catalog.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="catalog.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
        </nav>


        <br><br>

          <div class="card blue-grey">
             <div class="card-content white-text">
               <span class="card-title center">Welcome User</span>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ratione, aliquid minima autem tempora, dolor impedit quidem tempore dolorem magnam deserunt, illo. Perspiciatis, quia praesentium nihil illo asperiores dolor modi.</p>

              <div class="row">
                <div class="col s4 offset-s4">
            
                  <img src="img/prof.jpg" alt="" class="responsive-img circle" alt="">
                </div>
              </div>
             </div>  
          </div>



          <div class="container">
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
            <h1>Favorites</h1>
            <!-- FAVORITE LIST -->
            <ul class="collection">
              <li class="collection-item"><a href="#" class="collection-item">Item 1<i class="tiny material-icons">favorite</i></a></li>
              <li class="collection-item"><a href="#" class="collection-item">Item 2<i class="tiny material-icons">favorite</i></a></li>
              <li class="collection-item"><a href="#" class="collection-item">Item 3<i class="tiny material-icons">favorite</i></a></li>
              <li class="collection-item"><a href="#" class="collection-item">Item 4<i class="tiny material-icons">favorite</i></a></li>
            </ul>

          </div>

          <!-- FIXED ACTION BUTTON -->
          <div class="fixed-action-btn">
            <a href="#" class="btn-floating red btn-large"><i class="large material-icons">mode_edit</i></a>
            <ul>
              <li><a href="review.html" class="btn-floating yellow btn-large"><i class="large material-icons">details</i></a></li>
              <li><a href="crud.html" class="btn-floating blue btn-large"><i class="large material-icons">favorite</i></a></li>
              <li><a href="#" class="btn-floating green btn-large"><i class="large material-icons">publish</i></a></li>
              <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
            </ul>
          </div>
      
      </div><!-- ./container ends -->

      
      <div style="height:500px"></div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>$('.button-collapse').sideNav();</script>
    </body>
  </html>
