<!DOCTYPE html>
  <html>
    <head>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
      

    </head>

    <body>

      

        <!-- MOBILE COLLAPSE -->
        <nav "light-red lighten-1" role="navigation">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">More Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="catalog.html">Recipes</a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="catalog.html">Recipes</a></li>
              <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </div>
        </nav>


        <div class="container"><!-- ./container begins -->

        <br><br>


        <div class="card blue-grey"><!--  card div begins -->
            <div class="card-content white-text">
              <span class="card-title center">Welcome</span>
                 <p>Hi and welcome! I’m Lindsay, and this little website is my internet home. I write, I cook, and I take pictures of delicious food.<br><br>On a more personal level, I’m constantly trying to learn how to be better at things that really matter, like living intentionally, appreciating people, and following Jesus.</p>
            </div>

          <div class="card-action center"> <!--  card active div begins -->
                <!--Sign in form-->
              <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light orange modal-trigger">Sign in</a>

           
            <!-- Modal Structure -->
        <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Login To Enter</h4>
            <form class="">

              <div class="input-field">
                <input type="email" id="email" class="validate">
                <label class="active" for="email">Email</label>
              </div>

              <div class="input-field">
                <textarea type="Password" id="Password" class="materialize-textarea"></textarea>
                <label class="active" for="textarea">Password</label>
              </div>
            <div class="modal-footer">
              <div class="row center">
                <a href="catalog.html" id="download-button" class="modal-action modal-close btn-large waves-effect waves-light orange">Submit</a>
              </div>
            </div>
            </form>
          </div>
        </div>


                <!--Sign up form-->
              <a href="Signup.html" id="download-button" class="btn-large waves-effect waves-light orange">Sign up</a>

             
              </div><!--  card active div begins -->

        </div><!--  card div ends -->


          <!--Images-->
          <h2 class="center">Popular Recipes</h2>
      <div class="row center">
        <div class="col s12 m4">
            <div class="icon-block">
                <img src="img/2.jpg" alt="" class="responsive-img circle" alt="">
               <div class="card red lighten-1"><p><b>African Delicacies that will make your mouth water</b></p></div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <img src="img/2.jpg" alt="" class="responsive-img circle" alt="">
               <div class="card red lighten-1"><p><b>African Delicacies that will make your mouth water</b></p></div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <img src="img/2.jpg" alt="" class="responsive-img circle" alt="">
               <div class="card red lighten-1"><p><b>African Delicacies that will make your mouth water</b></p></div>
            </div>
          </div>

        </div><!-- ./row ends -->

      </div><!-- ./container ends -->



   <div style="height:100px"></div>
         <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <script>$('.button-collapse').sideNav();</script>


   <!--  <footer>
		<p> 
		Copyright &copy; 2017 Pascal Ulor. Do not copy or try to reproduce
		</p>
	</footer>-->
      <footer class="page-footer blue-grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">More Recipes</h5>
          <p class="grey-text text-lighten-4">We are a team of chefs working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com"><p> 
    Copyright &copy; 2017 Pascal Ulor. Do not copy or try to reproduce
    </p></a>
      </div>
    </div>
  </footer>

    </body>
  </html>
