<!DOCTYPE html>
  <html>
    <head>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

    </head>

    <body>

      <div class="container"><!-- ./container begins -->

      <!-- MOBILE COLLAPSE -->
      <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">More Recipes</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="catalog.html">Recipes</a></li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Sign Out</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>

          <ul class="side-nav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="catalog.html">Recipes</a></li>
            <li><a href="index.html">Sign Out</a></li>
              <li><a href="profile.html">Profile</a></li>
          </ul>
        </div>
      </nav>

      <br><br>

        <div class="card blue-grey"><!-- card container begins -->
          <div class="card-content white-text">
             <span class="card-title center">Welcome User</span>
             <p>Hi and welcome! I’m Lindsay, and this little website is my internet home. I write, I cook, and I take pictures of delicious food.<br><br>On a more personal level, I’m constantly trying to learn how to be better at things that really matter, like living intentionally, appreciating people, and following Jesus.</p>

            <div class="row">
              <div class="col s4 offset-s4">
                <img src="img/prof.jpg" alt="" class="responsive-img circle" alt="">
              </div>
            </div>
          </div>  
      </div><!-- card container ends -->


      <div class="divider"></div>
        <div class="section">
          <h5>Basic Informations</h5>
          <div class="row">
            <div class="col s4 m4">
              Name:
            </div>
            <div class="col s4 m4">
              <div class="input-field">
              <input type="text" id="name">
           <label class="active" for="name">First Name</label>
              </div>
            </div>
            <div class="col s4 m4">
              <div class="input-field">
              <input type="text" id="name">
           <label class="active" for="name">Last Name</label>
              </div>
            </div>
          </div><!--Name ends-->

            <div class="row">

            <div class="col s2 m4">
              Email:
            </div>
            <div class="col s2 m4">
              <div class="input-field">
               <input type="email" id="email" class="validate">
               <label class="active" for="email">Email</label>
             </div>
            </div>
            
            </div><!--Email ends-->


            <div class="row">

            <div class="col s2 m4">
              Phone Number:
            </div>
            <div class="col s2 m4">
              <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
              </div>
            </div>
            
            </div>


        
          </div><!--BAsic section ends-->
        <div class="divider"></div>
        <div class="section">
          <h5>About User</h5>
          <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
        </div>
          



      

      <!-- Edit Profile -->
  
              <a href="#modal1" id="download-button" class="btn-large waves-effect waves-light orange modal-trigger">Edit Profile</a>

              <!-- Modal Structure -->
        <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Edit Profile</h4>
            <form class="">
                <div class="input-field">
                    <input type="text" id="name">
                    <label class="active" for="name">Name</label>
                </div>

                <div class="input-field">
                    <input type="email" id="email" class="validate">
                    <label class="active" for="email">Email</label>
                </div>

                <div class="input-field">
                    <textarea type="email" id="textarea" class="materialize-textarea"></textarea>
                    <label class="active" for="textarea">Password</label>
                </div>

                <div class="input-field">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
              </div>

              </form>

          </div>

                <div class="modal-footer">
                    <div class="row center">
                        <a href="review.html" id="download-button" class="modal-action modal-close btn-large waves-effect waves-light orange">Update</a>
                    </div>
                  </div>
                
        </div>



        <!-- FIXED ACTION BUTTON -->
          <div class="fixed-action-btn">
            <a href="#" class="btn-floating red btn-large"><i class="large material-icons">mode_edit</i></a>
            <ul>
              <li><a href="review.html" class="btn-floating yellow btn-large"><i class="large material-icons">details</i></a></li>
              <li><a href="fav.html" class="btn-floating blue btn-large"><i class="large material-icons">favorite</i></a></li>
              <li><a href="crud.html" class="btn-floating green btn-large"><i class="large material-icons">publish</i></a></li>
              <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
            </ul>
          </div>

      </div><!-- ./container ends -->


         <div style="height:100px"></div>
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <script>$('.button-collapse').sideNav();</script>
      <script >$(document).ready(function() {Materialize.updateTextFields();});</script>


      <footer>
      <p> 
      Copyright &copy; 2017 Pascal Ulor. Do not copy or try to reproduce
      </p>
      </footer>
    </body>
  </html>
