<!DOCTYPE html>
<html>
  <head>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>

  </head>

  <body>

    <div class="container">

    <!-- MOBILE COLLAPSE -->
      <nav "light-red lighten-1" role="navigation">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">More Recipes</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="catalog.html">Recipes</a></li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li><a href="index.html">Sign Out</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>

          <ul class="side-nav" id="mobile-demo">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="catalog.html">Recipes</a></li>
            <li><a href="index.html">Sign Out</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </div>
      </nav>


    <br><br>


    <div class="container"><!-- collections container begins -->



      <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="img/2.jpg">
            <span class="card-title">Spiced Goat Meat</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>

          <div class="card-action">
            <a href="#"><i class="tiny material-icons">thumb_down</i></a>
            <a href="#"><i class="tiny material-icons">thumb_up</i></a>
            <a href="#"><i class="tiny material-icons">favorite</i></a>
          </div>
        </div>
      </div>
      <div class="col s12 m8">
        <h4>Traditional German Soft Pretzels Recipe with Beer Cheese</h4>
        <p>It’s Oktoberfest! Which is funny to me because it’s actually September, but I’m not one to argue with soft German pretzels, sausage, and beer. I’ve never been to Munich, where Oktoberfest – the world’s largest beer festival – is held, but one day I’d like to because I have a huge soft (pretzel) shaped spot in my heart for Bavarian food. I especially like pretzels and weisswurst, which, in Germany, go together like bacon and eggs.

          Since we don’t have plans to be in Germany anytime soon, I decided that Mike and I should celebrate Oktoberfest at home, with homemade pretzels, weisswurst, and beer cheese. Making pretzels is no small endeavor, especially with an overnight rise, but it’s totally worth it! I first tried my hand at pretzel making last year and I have to say, I’ve greatly improved my pretzel shaping skills. It probably helps that I did a lot of pretzel eating research before trying this recipe out again.

          Traditional German Soft Pretzels Recipe - www.iamafoodblog.com</p>
        
      </div>

    </div>


    <div class="divider"></div>


    <h4>Drop Your Thoughts On This Recipe</h4>
    <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <i class="material-icons prefix">mode_edit</i>
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">Reviews</label>
      </div>
    </div>
  </form>
</div>
<a href="review.html" class="btn-flat waves-effect waves-light blue-grey center"><span class="white-text">Post Review</span></a>





        


      <!-- FIXED ACTION BUTTON -->
      <div class="fixed-action-btn">
        <a href="#" class="btn-floating red btn-large"><i class="large material-icons">mode_edit</i></a>
        <ul>
          <li><a href="review.html" class="btn-floating yellow btn-large"><i class="large material-icons">details</i></a></li>
          <li><a href="fav.html" class="btn-floating blue btn-large"><i class="large material-icons">favorite</i></a></li>
          <li><a href="crud.html" class="btn-floating green btn-large"><i class="large material-icons">publish</i></a></li>
          <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
        </ul>
      </div>

      </div><!-- ./container ends -->

       <div style="height:100px"></div>
  <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>$('.button-collapse').sideNav();</script>


    <footer class="page-footer blue-grey">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">More Recipes</h5>
        <p class="grey-text text-lighten-4">We are a team of chefs working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://materializecss.com"><p> 
  Copyright &copy; 2017 Pascal Ulor. Do not copy or try to reproduce
  </p></a>
    </div>
  </div>
</footer>
  </body>
</html>
